* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
  list-style: none;
  line-height: 1.4;
}

html {
  background-color: #F2F2F2;
}

body {
  padding: 2rem;
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

h4 {
  font-weight: 500;
}








/* BUTTONS */

.btn p {
  border-radius: 8px;
  background-color: #111;
  border: 1.5px solid #111;
  color: #fff;
}

.btn p:hover {
  background-color: transparent;
  color: #111;
  box-shadow: inset 0px 0px 8px -4px rgba(11, 16, 27, 0.125);
}

.btn-ghost p {
  background-color: transparent;
  border: 1.5px solid #111;
  color: #111;
}

.btn-ghost p:hover {
  background-color: #111;
  color: #fff;
}

.btn-small p {
  padding: .5rem 2.75rem;
  border-radius: 6px;
}

.btn-large p {
  padding: 1rem 3.5rem;
}

.link-to p {
  color: #000;
  display: inline;
  position: relative;
  margin-right: 1.5rem;
}

.link-to p:hover {
  text-decoration: underline;
  color: #555;
}

.link-to p::after {
  position: absolute;
  top: calc(50% - .175rem);
  height: 5px;
  width: 5px;
  right: -.75rem;
  content: "";
  display: inline-block;
  border-right: 1.5px solid #111;
  border-bottom: 1.5px solid #111;
  transform: rotate(-45deg);
}
.link p {
  color: #000;
}

.link p:hover {
  text-decoration: underline;
  color: #555;
}




/* CARDS */

.card-blog {
  max-width: 16rem;
  width: 100%;
  background-color: #fff;
}

.card-blog .content {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  min-height: 10rem;
}

.card-pricing {
  max-width: 16rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1.5px solid #111;
  padding: 1.5rem;
  text-align: center;
  gap: 1rem;
}

.card-pricing .titles {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-bottom: 1rem
}

.card-pricing ol {
  margin-bottom: 3rem;
}

.card-pricing li {
  padding: .35rem;
  color: #555;
}

.card-square {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-square .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.media {
  aspect-ratio: 1/1;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  background-color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
}

.icon-round {
  height: 3rem;
  width: 3rem;
  background-color: #111;
  border-radius: 1.5rem;
}